In [3]:
import pandas as pd
import numpy as np

In [4]:
# Import .csv desde drive
df = pd.read_csv('weatherAUS.csv')

In [5]:
## contar filas y columnas
filas, columnas = df.shape
print(f'Hay {filas} filas y {columnas} columnas')

Hay 142193 filas y 24 columnas

In [6]:
# ver nombres de las columnas
nombre_columnas = df.columns
nombre_columnas

Index(['Date', 'Location', 'MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation',
       'Sunshine', 'WindGustDir', 'WindGustSpeed', 'WindDir9am', 'WindDir3pm',
       'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am', 'Humidity3pm',
       'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm', 'Temp9am',
       'Temp3pm', 'RainToday', 'RISK_MM', 'RainTomorrow'],
      dtype='object')

In [7]:
# averiguar datatype de las columnas
df.info()

# nota:
# 'date' es object (para panda object === string)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RISK_MM        142193 non-null  float64
 23  RainTomorrow   142193 non-null  object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB

In [8]:
# averiguar cantidad de datos nulos
df.isnull().sum()

Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [ ]:
# preview del dataset
df.head()

In [ ]:
# resumen estadistico
df.describe()

In [ ]:
# parsear fecha 'date' (de object/string a date)
df['Date'] = pd.to_datetime(df['Date'])

# insertar nueva columna "año" al df
df['Year'] = df['Date'].dt.year

df['Year'].head() # ver qe tipo sea int64

# guardar df en variable year
# year = df

## extraer año de columna "date" + inserción en dataframe
# year['Year'] = pd.DatetimeIndex(df['Date']).year

In [ ]:
# fecha minima y fecha maxima del dataset
df_fechas = df.agg(Fecha_Mínima=('Date',np.min),Fecha_maxima=('Date',np.max))
df_fechas

## 01 Nov 2007
## 25 Junio 2017
## Rango analizable >> 01 Nov 2007 - 01 Noviembre 2016

In [ ]:
df_rango = df.set_index(['Date'])
df_rango.loc['2007-11-01':'2016-11-01'] # funca 
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html
# https://stackoverflow.com/questions/29370057/select-dataframe-rows-between-two-dates

In [ ]:
# DataFrame solo con fechas de rango analizable
#rango = pd.date_range(start='2007-11-01',end='2017-11-01') #,inclusive="both")
#df_rango = df.set_index(['Date'])
#df_rango.loc['2007-11-01':'2017-11-01'] # funca 
# https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

# rango_analizable = df[rango]

#rango_analizable = df[df.Date.isin.indexer_between_time('2007-11-01','2017-11-01')]
#rango_analizable = df[df.Date.indexer_between_time('2007-11-01','2017-11-01')]
#rango_analizable = df[df.Date.indexer_between_time(rango)]
#rango_analizable = df[df.Date.isin([pd.date_range(start='2007-11-01',end='2017-11-01')])]
#rango_analizable

In [ ]:
#fecha_minima = '2007-11-01'
#fecha_maxima = 2007-11-20
#rango_df = df[df.Date.isin(2007-11-01)] #&df.Date.isin(fecha_maxima)]
#rango_df

In [ ]:

#year_temp = df_rango.groupby(['Year'])[['MaxTemp','Year']].max()
year = df_rango.groupby(['Year'])
# year
## creación df
#year = year.groupby(['Year'])[['MaxTemp','MinTemp','Year']].mean()
#year

In [ ]:
year_temp = year[['MaxTemp']].max() #.max()
year_temp

In [ ]:
year_temp = year[['MaxTemp','Year']].max() #.max()
# year_temp
year_temp.plot(x='Year',y='MaxTemp')

In [ ]:
# x trimestre
## extract
#quarter = df
#quarter['Trimestre'] = pd.DatetimeIndex(df['Date']).quarter

In [ ]:
# df.MaxTemp.plot.kde()

In [ ]:
df.sort_values

In [ ]:
#year_lluvia = year[['Rainfall','Year']].sum() 
year_lluvia = year[['Rainfall']].sum() 

year_lluvia.plot(y='Rainfall')

In [ ]:
df[['Rainfall']]
#hola